.Home {
    overflow: hidden;
}

.Home ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0;
}

.Home li {
    list-style-type: none;
    color: transparent;
    border-radius: 50%;
    padding: 0 0.5rem;
    display: flex;
}

.Home li.active {
    transition: all .5s ease-in-out;
    color: blue;
}

.Home li div {
    width: 8px;
    height: 8px;
    background-color: black;
    margin: .5rem;
}

.Home div.active {
    background-color: blue;
    position: relative;
    transition: all .5s ease-in-out;
}

@media(max-width: 500px) {
    .Home ul {
        padding: 0 !important;
    }
}